HTML manu bar
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Change Password</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="style2.css">
</head>
<body>
    <div class="container">
        <header>
            <a href="index.html" class="logo">Premé</a>
                <ul. class="nav-list">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Product</a>
                    <ul class="sub-product">
                    <li>
                        <a href="#" class="nav-link1">HERA</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link1">JUNSEAMMOOL</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link1">LILYBYRED</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link1">PONY EFFECT</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link1">SULWHASOO</a>
                    </li>
                    </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">|</a>
                    </li>
                    <li class="nav-item">
                        <a href="#"class="nav-link">Pre-ordered Agreement</a>
                    <ul class="sub-product">
                    <li>
                        <a href="#" class="nav-link1">Pre-ordered Agreement</a>
                    </li>
                    </li>
                </ul>    
                    <li class="nav-item">
                        <a href="#" class="nav-link">|</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">About Us</a>
                    <ul class="sub-product">
                    <li>
                        <a href="#" class="nav-link1">Our Company</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link1">Contact Us</a>
                    </li>
                    </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="EN1">|</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="EN2"><img src="user.png" alt=""></a>
                    </li>
                   <li class="nav-item">
                        <a href="#" class="EN3">|</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="EN4">EN</a>
                    </li>
                    </ul.>
        
            <div class="search-container">
                <label for="search" class="fas fa-search"></label>
                <input type="search" placeholder="search" id="search">
            </div>
        </header>
    </div>

    <div class="user-container">
        <div class="card text-center sidebar">
            <div class="card-body"></div>
            <i class="fas fa-user-circle"></i>
            <div class="mt-3">
                <h3>username</h3><hr width=80% color="lightgray">
            </div>
            <li class="nav-menu">
                <a href="my profile.html">My Profile</a><br>
                <a href="my order.html">My Order</a><br>
                <a href="changepass.html">Change Password</a><br>
                <a href="">Log Out</a><br>
            </li>
        </div>
    </div>

    <div class="Change-password">
        <div class="change">
            <h4>&nbsp;&nbsp; Change Password</h4>
        </div>
        <div class="password">
            <h5>Current Password</h5>
            <input type="text">
            <h5>New Password</h5>
            <input type="text">
            <h5>Confirm New Password</h5>
            <input type="text">
        </div>
        <div class="click-change">
            <div class="nav-change">
                <a href="#">Change Password</a>
            </div>
        </div>
    </div>

</body>
</html>