<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Our Company</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/Home/assets/css/company.css">
    <link rel="stylesheet" href="/Home/assets/css/style1.css">
    <link rel="stylesheet" href="./assets/css/chatcompany.css">
</head>
<header>
    <a href="home.html" class="logo">Premé</a>
        <ul. class="nav-list">
            <li class="nav-item">
                <a href="#" class="nav-link">Product</a>
            <ul class="sub-product">
            <li>
                <a href="#" class="nav-link1">HERA</a>
            </li>
            <li>
                <a href="#" class="nav-link1">JUNSEAMMOOL</a>
            </li>
            <li>
                <a href="#" class="nav-link1">LILYBYRED</a>
            </li>
            <li>
                <a href="#" class="nav-link1">PONY EFFECT</a>
            </li>
            <li>
                <a href="#" class="nav-link1">SULWHASOO</a>
            </li>
            </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">|</a>
            </li>
            <li class="nav-item">
                <a href="#"class="nav-link">Pre-ordered Agreement</a>
            <ul class="sub-product">
            <li>
                <a href="Us.html" class="nav-link1">Pre-ordered Agreement</a>
            </li>
            </li>
        </ul>    
            <li class="nav-item">
                <a href="#" class="nav-link">|</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">About Us</a>
            <ul class="sub-product">
            <li>
                <a href="company.html" class="nav-link1">Our Company</a>
            </li>
            <li>
                <a href="con.html" class="nav-link1">Contact Us</a>
            </li>
            </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="EN1">|</a>
            </li>
            <li class="nav-item">
                <a href="login.html" class="EN2"><img src="/Home/assets/images/ภาพหน้าจอ_2564-04-26_เวลา_16.01.50-removebg-preview สำเนา 2.png" alt=""></a>
            </li>
           <li class="nav-item">
                <a href="#" class="EN3">|</a>
            </li>
            <li class="nav-item">
                <a href="#" class="EN4">EN</a>
            </li>
            </ul.>

    <div class="search-container">
        <label for="search" class="fas fa-search"></label>
        <input type="search" placeholder="search" id="search">
    </div>
</div>
</header>
<body>
 
    <div class="img"><img src="/Home/assets/images/ourcompany_pic1.png"></div>
    <div class="img1"><img src="/Home/assets/images/ourcompany_pic2.png"></div>
    <div class="img2"><img src="/Home/assets/images/ourcompany_pic3.png"></div>
    <div class="img3"><img src="/Home/assets/images/ourcompany_pic4.png"></div>

    <div class="bg"></div>
    <div class="bg1"></div>
    <div class="bg2"></div>

    <div class="ct">Premé</div>
    <div class="ct1">Our Company</div>
    <div class="ct2">Premé is a website or platform for those who want to pre-order cosmetics from abroad.</div>
    <div class="ct3">We are buyers from the source(abroad) and deliver the products that the buyer has pre-ordered. You can say that the buyer just pre-orders with our website, then we will proceed everything for sure.</div>
    <div class="ct4">Making pre-orders with our website is</div>
    <div class="ct8">easy,convenient, and still get quality products with the cheaper price than other places as well.</div>
    <div class="ct5">Our vision is to provide great customer service and</div>
    <div class="ct6">we sincerely hope that we deliver a great shopping</div>
    <div class="line"></div>
    <div class="ct7">experlence for everyone</div>
    <div class="ct9">- Premé -</div>
    <div class="line1"></div>

    <!--Chatbox-->
<div class="container">
    <div class="chatbox">
    <div class="chatbox__support">
    <div class="chatbox__header">
    <div class="chatbox__image--header">
        <img src="" alt="">
    </div>
    <div class="chatbox__content--header">
        <h4 class="chatbox__heading--header">Chat With Us</h4>
        
    </div>
    </div>
    <div class="chatbox_messages">
    <div class="messages_item messages__item--visitor">Hi,what type of service can we help you?
    <div class="messages_item messages__item--operator">Hi
    </div>
    </div>
</div>
<div class="chatbox__Footer">
    <input class="in" type="text" placeholder="typing...">
    <p class="chatbox__send--footer">Send</p>

</div>
</div>
<div class="chatbox__button">
    <button>button</button>

</div>
</div>
<script src="./assets/js/Chat.js"></script>
<script src="./app.js"></script>


</body>
</html>