<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Premé</title>
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/CC.css">
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="stylesheet" href="styless.css">
    <link rel="stylesheet" href="/Home/assets/css/style1.css">
    <link rel="stylesheet" href="./assets/css/chathome.css">
    
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>
<header>

     <div class="container">
         <nav class="nav">
             <a href="home.html" class="logo">Premé</a>
             <ul. class="nav-list">
             <li class="nav-item">
                <a href="#" class="nav-link">Product</a>
                <ul class="sub-product">
                    <li>
                        <a href="#" class="nav-link1">HERA</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link1">JUNSEAMMOOL</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link1">LILYBYRED</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link1">PONY EFFECT</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link1">SULWHASOO</a>
                    </li>
                </ul>
             </li>
             <li class="nav-item">
                <a href="#" class="nav-link">|</a>
             </li>
             <li class="nav-item">
                <a href="#"class="nav-link">Pre-ordered Agreement</a>
             <ul class="sub-product">
                <li>
                    <a href="Us.html" class="nav-link1">Pre-ordered Agreement</a>
                </li>
            </ul>
        </li>
            

             <li class="nav-item">
                <a href="#" class="nav-link">|</a>
             </li>
             <li class="nav-item">
                <a href="#" class="nav-link">About Us</a>
                <ul class="sub-product">
                    <li>
                        <a href="company.html" class="nav-link1">Our Company</a>
                    </li>
                    <li>
                        <a href="con.html" class="nav-link1">Contact Us</a>
                    </li>
                </ul>
             </li>
             <li class="nav-item">
                <a href="#" class="EN2">|</a>
             </li>
             <li class="nav-item">
                <a href="login.html" class="EN3"><img src="/Preme/Home/assets/images/ย่อ2.png" alt=""></a>
             </li>
             <li class="nav-item">
                <a href="#" class="EN1">|</a>
             </li>
             <li class="nav-item">
                <a href="#" class="EN4">EN</a>
             </li>
             </ul.>
         </nav>
    </div>
    
    
</div>
</header>
<body>

    <div class="search-container">
        <label for="search" class="fas fa-search"></label>
        <input type="search" placeholder="search" id="search">
    </div>

<!--Chatbox-->
<div class="container">
    <div class="chatbox">
    <div class="chatbox__support">
    <div class="chatbox__header">
    <div class="chatbox__image--header">
        <img src="" alt="">
    </div>
    <div class="chatbox__content--header">
        <h4 class="chatbox__heading--header">Chat With Us</h4>
        
    </div>
    </div>
    <div class="chatbox_messages">
    <div class="messages_item messages__item--visitor">Hi,what type of service can we help you?
    <div class="messages_item messages__item--operator">Hi
    </div>
    </div>
</div>
<div class="chatbox__Footer">
    <input class="in" type="text" placeholder="typing...">
    <p class="chatbox__send--footer">Send</p>

</div>
</div>
<div class="chatbox__button">
    <button>button</button>

</div>
</div>
<script src="./assets/js/Chat.js"></script>
<script src="./app.js"></script>

<!--reviwe-->
   <div class="bg"></div>
   <div class="bg1"></div>
   <div class="cont">Review</div>
   <div class="cont1">Current Pro-ordered Round</div>
   <div class="cont2">1-20 JUNE 2021</div>

<!-- Swiper -->
<div class="swiper-container mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
         <img src="/Preme/Home/assets/images/IMG_7109.JPG">
      </div>
      <div class="swiper-slide">
        <img src="/Preme/Home/assets/images/IMG_7110.JPG">
     </div>

    </div>
    <div class="swiper-pagination"></div>
  </div>

</div>
</div>

  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
   <!-- Initialize Swiper -->
   <script>
    var swiper = new Swiper(".mySwiper", {
      spaceBetween: 30,
      centeredSlides: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>

  <!-- Swiper -->
  <div class="swiper-container1 mySwiper1">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
         <img src="/Preme/Home/assets/images/Frame 3.svg">
      </div>
      <div class="swiper-slide">
        <img src="/Preme/Home/assets/images/2.svg">
     </div>
     <div class="swiper-slide">
      <img src="/Preme/Home/assets/images/Frame 3.svg">
   </div>
   <div class="swiper-slide">
    <img src="/Preme/Home/assets/images/4.svg">
 </div>
 <div class="swiper-slide">
  <img src="/Preme/Home/assets/images/3.svg">
</div>
    </div>
    <div class="swiper-pagination1"></div>
  </div>

</div>
</div>
   <!-- Swiper JS -->
   <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

   <!-- Initialize Swiper -->
   <script>
     var swiper = new Swiper(".mySwiper1", {
       slidesPerView: 4,
       centeredSlides: true,
       spaceBetween: 30,
       loop: true,
       grabCursor: true,
       pagination: {
         el: ".swiper-pagination1",
         clickable: true,
       },
     });
   </script>


   <div class="container3">
    <div class="boxs">
        <h2 class="name">Sensual Fresh Nude Tint</h2>
        <a href="#" class="buy">1,039 THB</a>
        <div class="circle"></div>
        <img src="/Preme/Home/assets/images/SENSUAL FRESH NUDE TINT สำเนา.png" class="product">
    </div>
    <div class="boxs2">
        <h2 class="name">Skin Setting Tone-up Sun</h2>
        <a href="#" class="buy">1,500 THB</a>
        <div class="circle"></div>
        <img src="/Preme/Home/assets/images/Skin_Setting_Tone-up_Sun_Cushion_refill_included___-removebg-preview สำเนา.png" class="product">
    </div>
    <div class="boxs3">
        <h2 class="name">Pony Effect Coral Flare</h2>
        <a href="#" class="buy">790 THB</a>
        <div class="circle"></div>
        <img src="/Preme/Home/assets/images/IMG_7728-removebg-preview.png" class="product">
    </div>
</div>  

<script src="/Preme/Home/assets/js/vanilla-titlt.min.js"></script>  
<script>
VanillaTilt.init(document.querySelectorAll(".boxs"), {
    max: 25,
    speed: 400
});
VanillaTilt.init(document.querySelectorAll(".boxs2"), {
    max: 25,
    speed: 400
});
VanillaTilt.init(document.querySelectorAll(".boxs3"), {
    max: 25,
    speed: 400
});
</script>  
</body>
</html>