<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Login</title>
<link rel="stylesheet" href="/Home/assets/css/login.css">
<script
src="https://kit.fontawesome.com/64d58efce2.js"
crossorigin="anonymous">
</script>
</head>
<header>
  <div class="full-page">
    <div class="navbar">
    <div>
    <a href='home.html'>Premé</a>
    </div>
    </div>
    </div>
</header>
<body>
  <div class="container">
    <div class="forms-container">
      <div class="signin-signup">
      <form action="" class="sign-in-form">
      <h2 class="title">Sign in</h2>
      <div class="input-field">
      <i class="fas fa-user"></i>
      <input type="text" placeholder="Username">
      </div>
      <div class="input-field">
      <i class="fas fa-lock"></i>
      <input type="password" placeholder="Password">
      </div>
      <input href="home.html" type="submit" value="Login" class="btn solid">
      <div class="social-text">
      <a href="#">Forgot password?</a>
    </div>
  </form>
  <form action="" class="sign-up-form">
    <h2 class="title1">Create New Account</h2>
    <div class="input-field1">
    <i class=""></i>
    <input type="text" placeholder="Name">
    </div>
    <div class="input-field1">
      <i class=""></i>
      <input type="text" placeholder="Last Name">
      </div>
    <div class="input-field1">
    <i class=""></i>
    <input type="password" placeholder="Email">
    </div>
    <div class="input-field1">
      <i class=""></i>
      <input type="text" placeholder="Username">
      </div>
      <div class="input-field1">
        <i class=""></i>
        <input type="text" placeholder="Password">
        </div>
        <div class="input-field1">
          <i class=""></i>
          <input type="text" placeholder="Address">
          </div>
          <div class="input-field1">
            <i class=""></i>
            <input type="text" placeholder="City">
            </div>
            <div class="input-field1">
              <i class=""></i>
              <input type="text" placeholder="Coutry">
              </div>
              <div class="input-field1">
                <i class=""></i>
                <input type="text" placeholder="Zip Code">
                </div>
                <div class="input-field1">
                  <i class=""></i>
                  <input type="text" placeholder="Phone Number">
                  </div>
    <input type="submit" value="Create New Account" class="btn1 solid">
</form>
  </div>
  </div>

   <div class="panels-container">
     <div class="panel left-panel">
       <div class="content">
        <h3>New here ?</h3>
        <p>Welcome everyone to our website.  For new customers who want to receive a special discount. You must not miss being our member. Create new account now!</p>
        <button class="btn transparent1" id="sign-up-btn">Create New Account</button>
       </div>

        <img src="/Home/assets/images/ourcompany_pic4_สำเนา-removebg-preview.png" class="image" alt="">
       </div>

        <div class="panel right-panel">
        <div class="content">
        <h3>One of us ?</h3>
        <p>Welcome to all our members. Click Sign in if you are ready to enjoy shopping with our website.</p>
        <button class="btn transparent" id="sign-in-btn">Sign in</button>
        </div>

        <img src="/Home/assets/images/ourcompany_pic3-removebg-preview.png" class="image1" alt="">
       </div>
     </div>
   </div>

   <script src="/Home/assets/js/login.js"></script>

</body>
</html>