HTML manu bar
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My order</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="style3.css">
</head>
<body>
    <div class="container">
        <header>
            <a href="index.html" class="logo">Premé</a>
                <ul. class="nav-list">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Product</a>
                    <ul class="sub-product">
                    <li>
                        <a href="#" class="nav-link1">HERA</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link1">JUNSEAMMOOL</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link1">LILYBYRED</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link1">PONY EFFECT</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link1">SULWHASOO</a>
                    </li>
                    </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">|</a>
                    </li>
                    <li class="nav-item">
                        <a href="#"class="nav-link">Pre-ordered Agreement</a>
                    <ul class="sub-product">
                    <li>
                        <a href="#" class="nav-link1">Pre-ordered Agreement</a>
                    </li>
                    </li>
                </ul>    
                    <li class="nav-item">
                        <a href="#" class="nav-link">|</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">About Us</a>
                    <ul class="sub-product">
                    <li>
                        <a href="#" class="nav-link1">Our Company</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link1">Contact Us</a>
                    </li>
                    </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="EN1">|</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="EN2"><img src="user.png" alt=""></a>
                    </li>
                   <li class="nav-item">
                        <a href="#" class="EN3">|</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="EN4">EN</a>
                    </li>
                    </ul.>
        
            <div class="search-container">
                <label for="search" class="fas fa-search"></label>
                <input type="search" placeholder="search" id="search">
            </div>
        </header>
    </div>

    <div class="user-container">
        <div class="card text-center sidebar">
            <div class="card-body"></div>
            <i class="fas fa-user-circle"></i>
            <div class="mt-3">
                <h3>username</h3><hr width=80% color="lightgray">
            </div>
            <li class="nav-menu">
                <a href="my profile.html">My Profile</a><br>
                <a href="my order.html">My Order</a><br>
                <a href="changepass.html">Change Password</a><br>
                <a href="">Log Out</a><br>
            </li>
        </div>
    </div>

    <div class="My-order">
        <div class="order">
            <h4>&nbsp;&nbsp; My Order</h4>
        </div>
        <div class="pre">
            <div class="pre1"><h5>Pre-Ordered Product</h5></div>
        </div>
        <div class="in">
            <div class="in1"><h5>In stock Product</h5></div>
        </div>
    
        <div class="border">
            <div class="textinbox">
              <br>Tracking Code<br>
              </div>
              <div class="num">
                  <p><span style="padding-left:26px"></span>EH568939320TH</p>
            </div>
        </div>
        <div class="track">
            <img src="track.jpg">
        </div>
        
           
    </div>

</body>
</html>