<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pre-ordered Agreement</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/Home/assets/css/us.css">
    <link rel="stylesheet" href="./assets/css/chat.css">
    <link rel="stylesheet" href="/Home/assets/css/style1.css">
</head>
<header>
    <a href="home.html" class="logo">Premé</a>
        <ul. class="nav-list">
            <li class="nav-item">
                <a href="#" class="nav-link">Product</a>
            <ul class="sub-product">
            <li>
                <a href="#" class="nav-link1">HERA</a>
            </li>
            <li>
                <a href="#" class="nav-link1">JUNSEAMMOOL</a>
            </li>
            <li>
                <a href="#" class="nav-link1">LILYBYRED</a>
            </li>
            <li>
                <a href="#" class="nav-link1">PONY EFFECT</a>
            </li>
            <li>
                <a href="#" class="nav-link1">SULWHASOO</a>
            </li>
            </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">|</a>
            </li>
            <li class="nav-item">
                <a href="#"class="nav-link">Pre-ordered Agreement</a>
            <ul class="sub-product">
            <li>
                <a href="#" class="nav-link1">Pre-ordered Agreement</a>
            </li>
            </li>
        </ul>    
            <li class="nav-item">
                <a href="#" class="nav-link">|</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">About Us</a>
            <ul class="sub-product">
            <li>
                <a href="company.html" class="nav-link1">Our Company</a>
            </li>
            <li>
                <a href="con.html" class="nav-link1">Contact Us</a>
            </li>
            </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="EN1">|</a>
            </li>
            <li class="nav-item">
                <a href="login.html" class="EN2"><img src="/Home/assets/images/ภาพหน้าจอ_2564-04-26_เวลา_16.01.50-removebg-preview.png" alt=""></a>
            </li>
            <li class="nav-item">
                <a href="#" class="EN3">|</a>
            </li>
            <li class="nav-item">
                <a href="#" class="EN4">EN</a>
            </li>
            </ul.>

    <div class="search-container">
        <label for="search" class="fas fa-search"></label>
        <input type="search" placeholder="search" id="search">
    </div>
</div>
</header>
ิิ<body>

    <div class="content"><p>Pre-order Agreement</p></div>
    <div class="content1"><p>Our Product Types</p></div>
    <div class="content2"><p>There are 2 types of products on our website:</p></div>
    <div class="content3"><p>1.Pre-ordered products 2.Products in stock</p></div>
    <div class="content4"><p>Which the web will already notify the type of product on the </p></div>
    <div class="content5"><p>information page of that product, before adding to cart.</p></div>
    <div class="content6"><p>What is Pre-order?</p></div>
    <div class="content7"><p>Pre-order is to order products in advance. Which the ordered products will not be received immediately. As some products will take time to be purchased from abroad, the delivery time also depends on the transportation.</p></div>
    <div class="content8"><p>Payment Method</p></div>
    <div class="content9"><p>There is only 1 round for product payment.</p></div>
    <div class="content10"><p>The buyer has to pay for the product in full price first, before the website can proceed to the next step.</p></div>
    <div class="content11"><p>How Long Does Pre-order Usually Take?</p></div>
    <div class="content12"><p>Normally, products ordered from abroad will take different import </p></div>
    <div class="content13"><p>times depending on the shipping method of that particular product. Therefore the pre-order takes an average of 15-30 days from the order to the point that the buyer has received the product.</p></div>


    <div class="bg"></div>
    <div class="bg1"></div>
    <div class="bg2"></div>
    <div class="bg3"></div>


    <!--Chatbox-->
<div class="container">
    <div class="chatbox">
    <div class="chatbox__support">
    <div class="chatbox__header">
    <div class="chatbox__image--header">
        <img src="" alt="">
    </div>
    <div class="chatbox__content--header">
        <h4 class="chatbox__heading--header">Chat With Us</h4>
        
    </div>
    </div>
    <div class="chatbox_messages">
    <div class="messages_item messages__item--visitor">Hello,Premé happy to service.
    <div class="messages_item messages__item--operator">Hi
        <div class="messages_item messages__item--operator1">May I ask something.
    </div>
    </div>
    </div>
</div>
<div class="chatbox__Footer">
    <input class="in" type="text" placeholder="typing...">
    <p class="chatbox__send--footer">Send</p>

</div>
</div>
<div class="chatbox__button">
    <button>button</button>

</div>
</div>
<script src="./assets/js/Chat.js"></script>
<script src="./app.js"></script>
    
</body>
</html>