/*chatbox*/
.chatbox{
    position:absolute;
    bottom: 30px;
    right: 0px;
    top: auto;
}

/*content*/
.chatbox__support {
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 300px;
    height: 350px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
}


/*conten*/
.chatbox--active{
    transform: translateY(-0.1px);
    z-index: 123456;
    opacity: 1;

}

/*button*/
.chatbox__button{
    text-align: center;
    position: absolute;
    left: 92%;
    letter-spacing: 2px;
    margin-top: -10rem;
    transition: color.5s;
    border-radius: 3rem;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}

.chatbox__header{
    position: sticky;
    top: 0;
}

/*mass*/
.chatbox_messages{
    width: auto;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messages__item{
    
    max-width: 60.6%;
    width: fit-content;
}

.messages__item--operator{
    position: absolute;
    left: 200px;
    font-size: 15px;
    top: 80px;
    height: 25px;
    width:30px;
    display: flex;
    align-items:center;
    background-color: #EAD8D4;
}

.messages__item--operator1{
    position: absolute;
    left: -120px;
    font-size: 15px;
    top: 30px;
    height: 30px;
    width:150px;
    display: flex;
    align-items:center;
    background-color: #EAD8D4;
}

.messages__item--visitor{
    position: absolute;
    left: 10px;
    font-size: 15px;
    top: 85px;
    height: 30px;
    width:210px;
    display: flex;
    align-items: center;
    background-color: #F6F5F1;
}

/*footer*/
.chatbox__footer {
    position:sticky;
    bottom: 0;

}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    position:relative;
    padding: 0px;
    top: 0px;
    left: 98%;
    background: #ead8d4;
    border: none;
    outline: none;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius:40px;
    border-bottom-right-radius:40px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
    cursor: pointer;
}

/*Chatbox*/
.chatbox__header {
    background: #ead8d4;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
}

.chatbox__support{
    background: white;
    height: 300px;
    width: 250px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.chatbox__image--header{
    margin-right: 10px;
}

.chatbox__heading--header{
    font-size: 2rem;
    color:#6d6b6b;
}

/*Mess*/
.chatbox__messages{
    position: absolute;
    padding: 0 20px;
}

.messages__item{
    background: white;
    padding: 10px 12px;
}

.messages__item--visitor{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #6d6b6b;
}

.messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #6d6b6b;
}

.messages__item--operator1 {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #6d6b6b;
}


/*Foo*/

.in{
    position: absolute;
    width: 170px;
    height: 25px;
    left: 20px;
    top: 250px;
    border: none;
    padding: 10px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #ead8d4;
}

.chatbox__send--footer{
    position: absolute;
    width: 10px;
    height: 500px;
    left: 200px;
    font-size: 15px;
    top: 12px;
    display: flex;
    align-items: center;    
    color: #6d6b6b;
    
}